@{
    ViewData["Title"] = "Home Page";
}
<div class="flex justify-center">
    <img src="Resources/Priemnaya.png"/>
</div>

<div class="grid bg-white md:grid-cols-3 justify-center gap-2 place-items-start h-12 grid-cols-1">
    <div class="flex-1 bg-indigo-600">1 Длинный текст набахаем?????????</div>
    <div class="flex-1">2 Средний текст бахаю</div>
    <div class="flex-1">3 Малый текст</div>
    <div class="flex-1">4 FDFDFDFDFDFDFD</div>
    <div class="flex-1">5 fdfdfdfdfdsda </div>
</div>